button.cnr_resize.x-btn-text, button.cnr_crop.x-btn-text, button.cnr_reset.x-btn-text {
	background-image: url(../img/cropnresize.png);
}
button.cnr_crop.x-btn-text {
	background-position: -2px -2px;
}
button.cnr_reset.x-btn-text {
	background-position: -42px -2px;
}